<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.financetable">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="FinanceTable"
        android:theme="@style/Theme.FinanceTable">
        <activity android:name="com.financetable.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
